<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
crossorigin=""></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.0/proj4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4leaflet/1.0.2/proj4leaflet.min.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<!--
<div class="row">
  <div id="mapid" class="map"></div>
  <div id="tframe" class="column">
  <p>Logged in as <b>{{ user.username }}</b> <a href="{% url 'logout' %}">logout</a></p>
  <h1>Tampere dog parks</h1>
  <p class="info">Here are the dog parks of Tampere!<br>
    You can mark the ones you like with the checkbox, and by clicking the name of the area in the table, the map will automatically focus to that park.
  <br>By clicking the red area of a park on the map will open a tooltip that shows the total area of the park.</p>
  <table id="park_table"></table>

  <p><a href="{% url 'password_change' %}">change password</a></p>

  </div>
  </div>
  <script src="../static/js/map.js"></script>-->

  <div class="row">
    <div id="mapCol" class="column"></div>
    <div id="infoCol" class="column">
      <!-- <div id="row1" class="subrow"></div> -->
      <!--<button class="myButton" onclick="getQueryData()">Get data</button>-->
      <div id="infoPanel">
      <p>Logged in as <b>{{ user.username }}</b></p>
      <a href="{% url 'logout' %}">logout</a>
      </div>
      <h1>Tampere dog parks</h1>
      <p class="info" align="left">Here are the dog parks of Tampere! You can mark the ones you like with the checkbox, and by clicking the name of the area in the table, the map will automatically focus to that park.</p>
      <!-- <div id="r1Columns"> -->
      <button type="button" class="collapsible">Table</button>
      <table id="park_table"></table>
      <!-- <div id="chart2"></div>
      </div>
    </div>
      <div id="row2" class="subrow">
        <div id="areaColChart" class="chart"></div> -->
      <button type="button" class="collapsible">Bubble</button>
      <div id="bubbleChart" class="chart"></div>
      <button type="button" class="collapsible">2nd chart</button>
      </div>
    
    </div>
  <script src="../static/js/map.js"></script>

{% else %}
<div id="frame"></div>
  <h1>Welcome!</h1>
  <h2><a href="{% url 'login' %}">Login here</a></h2>
  </div>
{% endif %}
{% endblock %}
