<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
crossorigin=""></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.0/proj4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4leaflet/1.0.2/proj4leaflet.min.js"></script>
<!--<style>
  html body{
      min-height:100%;/* make sure it is at least as tall as the viewport */
      position:relative;
      height:100%; /* force the BODY element to match the height of the HTML element */
      width: 100%;
      margin: 0;
      overflow: hidden;
  }

  .row {
      column-count: 2;
  }

  .column {
      width: 100%;
      display: inline-block;
      height: 100%;
  }
  
</style>-->
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div class="row">
  <div id="mapid" class="column"></div>
  <div id="tframe" class="">
  <p>Logged in as <b>{{ user.username }}</b> <a href="{% url 'logout' %}">logout</a></p>
  <h1>Tampere dog parks</h1>
  <p class="info">Here are the dog parks of Tampere!<br>
    You can mark the ones you like with the checkbox, and by clicking the name of the area in the table, the map will automatically focus to that park.
  <br>By clicking the red area of a park on the map will open a tooltip that shows the total area of the park.</p>
  <table id="park_table"></table>

  <!--<p><a href="{% url 'password_change' %}">change password</a></p>-->

  </div>
  </div>
  <script src="../static/js/map.js"></script>

{% else %}
<div id="frame"></div>
  <h1>Welcome!</h1>
  <h2><a href="{% url 'login' %}">Login here</a></h2>
  </div>
{% endif %}
{% endblock %}
